%a.top{ href: "/" } TOP
%div.product
  %p.asin
    = "ASIN: #{product.asin}"
  %p.category
    = "CATEGORY: #{product.category}"
  %p.rank
    = "RANK: #{product.rank}"
  %p.dimension
    = "DIMENSION: #{product.dimension}"
